<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
					<h3>#{msg['activarUsuario.pageTitle']}</h3>
					<f:metadata>
						<f:viewParam name="mailUsuario"
							value="#{activacionUsuarioBean.mailUsuario}" />
						<f:viewParam name="idRegistro"
							value="#{activacionUsuarioBean.idRegistro}" />
					</f:metadata>
					<h:form>
						<p:commandButton ajax="false"
							action="#{activacionUsuarioBean.activaUsuario}"
							value="#{msg['activarUsuario.botonActivar']}" />
					</h:form>
</div>
					<ui:include src="/views/footer.xhtml" />


		</p:layoutUnit>
	</p:layout>
</h:body>
</html>