<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
			<div class="centralContent">
				<h3>#{msg['addProductos.pageTitle']}</h3>
				
				<h:form id="addProductForm">

					<p:fieldset collapsed="true" legend="Busqueda avanzada" toggleable="true" toggleSpeed="500">
				        <h:panelGrid columns="4" cellpadding="5">
				        	<h:outputLabel for="nombreFilter" value="#{msg['addProductos.tabla.columnaNombre']}"/>
							<p:inputText id="nombreFilter" value="#{carroCompraBean.filtroProductos.nombre}">
							    <p:ajax event="keyup" update="tablaProductosGrid" />
							</p:inputText>
							
							<h:outputLabel for="descripcionFilter" value="#{msg['addProductos.tabla.columnaDescripcion']}"/>
							<p:inputText id="descripcionFilter" value="#{carroCompraBean.filtroProductos.descripcion}">
							    <p:ajax event="keyup" update="tablaProductosGrid" />
							</p:inputText>
							
							<h:outputLabel for="precioMayorFilter" value="#{msg['addProductos.tabla.columnaPrecioMayor']}"/>
							<p:inputText value="#{carroCompraBean.filtroProductos.precioMayor}">
							    <p:ajax event="keyup" update="tablaProductosGrid" />
							</p:inputText>
							
							<h:outputLabel for="precioMenorFilter" value="#{msg['addProductos.tabla.columnaPrecioMenor']}"/>
							<p:inputText value="#{carroCompraBean.filtroProductos.precioMenor}">
							    <p:ajax event="keyup" update="tablaProductosGrid" />
							</p:inputText>

							<h:outputLabel for="categoriaFilter" value="#{msg['addProductos.tabla.columnaNombreCategoria']}"/>
			            	<p:selectOneMenu id="categoriaFilter" value="#{carroCompraBean.filtroProductos.categoriaBean.idCategorias}">
			            		<p:ajax event="change" update="tablaProductosGrid" />
			            		<f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
								<f:selectItems value="#{categoriasBean.listaCategorias}" var="c" itemValue="#{c.idCategorias}" itemLabel="#{c.getLiteralNombre(languageBean.idiomaSeleccionado.localeCode)}" />
							</p:selectOneMenu>
							
							<h:outputLabel for="campoOrdenacion" value="#{msg['addProductos.tabla.sortField']}"/>
			            	<p:selectOneMenu id="campoOrdenacion" value="#{carroCompraBean.campoOrdenacion}">
			            		<p:ajax event="change" update="tablaProductosGrid" />
			            		<f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
			            		<f:selectItem itemLabel="#{msg['addProductos.ordenar.precioAsc']}" itemValue="precioAsc" />
			            		<f:selectItem itemLabel="#{msg['addProductos.ordenar.precioDesc']}" itemValue="precioDesc" />
							</p:selectOneMenu>
				        </h:panelGrid>
				    </p:fieldset>

					
					<p:dataGrid
						id="tablaProductosGrid"
						widgetVar="tablaProductosGrid"
		 			 	value="#{carroCompraBean.listaProductos}" 
		 				paginator="true" 
		 				rows="6" 
		 				columns="1"
		 				lazy ="true" 
		 				var="p" 
		 				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
		 				rowsPerPageTemplate="3,6,12">
						<p:panel header="#{p.producto.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" style="text-align:center">
						
							<h:panelGrid styleClass="gridAddProductos" columns="2">
								<p:graphicImage value="#{imagesBean.getImagen(p.producto.idProductos)}"/>
			     				<h:panelGrid columns="2">
			     					<h:outputLabel for="cantidad" value="#{msg['addProductos.tabla.columnaCantidad']}"/>
			     					<p:spinner id="cantidad" value="#{p.cantidad}">
										<f:validateLongRange minimum="1" />
									</p:spinner>
									
									<h:outputLabel for="precio" value="#{msg['addProductos.tabla.columnaPrecio']}"/>
			     					<h:outputText id="precio" value="#{p.producto.precio}">
			     						<f:convertNumber locale="#{languageBean.idiomaSeleccionado.localeCode}" type="currency" />
			     					</h:outputText>
			     					
			     					<h:outputLabel for="categoria" value="#{msg['addProductos.tabla.columnaNombreCategoria']}"/>
			     					<h:outputText id="categoria" value="#{p.producto.categoriaBean.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
			     					
			     					<h:outputLabel for="descripcion" value="#{msg['addProductos.tabla.columnaDescripcion']}"/>
			     					<h:outputText id="descripcion" value="#{p.producto.getLiteralDescripcion(languageBean.idiomaSeleccionado.idiomaCode)}"/>
			     					
			     					<p:commandButton actionListener="#{carroCompraBean.addProducto(p)}" value="#{msg['addProductos.tabla.botonAdd']}" rendered="#{p.producto.stock > 0}"/>
			     					<h:outputText id="itemAgotado" value="#{msg['addProductos.agotado']}" rendered="#{p.producto.stock == 0}"/>
			     					<p:commandButton process="@this" action="#{carroCompraBean.goToDetalleProducto(p)}" value="#{msg['addProductos.boton.botonDetalle']}"/>
			     				</h:panelGrid>
		     				</h:panelGrid>
						</p:panel>
					</p:dataGrid>
		
				</h:form>
		

				
			</div>
			<ui:include src="/views/footer.xhtml"/>
		</p:layoutUnit>
	</p:layout>

</h:body>
</html>