<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
			<div class="centralContent">
					<h2>#{msg['detalleProducto.pageTitle']}</h2>

					<h3>#{carroCompraBean.productoSeleccionado.producto.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)} - #{carroCompraBean.productoSeleccionado.producto.categoriaBean.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}</h3>
					

					<p:panelGrid columns="2" styleClass="centered">
						<p:graphicImage value="#{imagesBean.getImagen(carroCompraBean.productoSeleccionado.producto.idProductos)}"/>
						<p>#{carroCompraBean.productoSeleccionado.producto.getLiteralDescripcion(languageBean.idiomaSeleccionado.idiomaCode)}</p>
						<p>#{carroCompraBean.productoSeleccionado.producto.precio}€</p>
					</p:panelGrid>
					<h:form>
						<h:outputLabel for="cantidad" value="#{msg['addProductos.tabla.columnaCantidad']}" />
						<p:spinner id="cantidad" value="#{carroCompraBean.productoSeleccionado.cantidad}">
							<f:validateLongRange maximum="10" minimum="1" />
						</p:spinner>
						<p:commandButton ajax="false" action="#{carroCompraBean.addProducto(carroCompraBean.productoSeleccionado)}" value="#{msg['addProductos.tabla.botonAdd']}"/>
					</h:form>
			</div>
					<ui:include src="/views/footer.xhtml" />


		</p:layoutUnit>
	</p:layout>

</h:body>
</html>