<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	<p:growl id="messages" showDetail="true" autoUpdate="true" />
	
	
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()"/> 
	
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    <p:graphicImage library="own" name="images/ajax-loader.gif" />
	</p:dialog>


	<h:form>
	<p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
        <p:commandButton value="#{msg['boton.yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
        <p:commandButton value="#{msg['boton.no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    </p:confirmDialog>
    </h:form>
    
    
	<p:ajaxExceptionHandler type="java.lang.Exception"
	                    update="exceptionDialog"
	                    onexception="PF('exceptionDialog').show();" />
 
    <p:dialog id="exceptionDialog" header="Exception '#{pfExceptionHandler.type}' occured!" widgetVar="exceptionDialog"
              height="500px">
        Message: #{pfExceptionHandler.message} <br/>
        StackTrace: <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false" /> <br />
 
        <p:button onclick="document.location.href = document.location.href;"
                  value="Reload!"
                  rendered="#{pfExceptionHandler.type == 'java.lang.Exception'}" />
    </p:dialog>

<br/>
<div class="footer">
		#{msg['home.pageTitle']}
		<br/>
		#{msg['home.pageSubtitle']}
</div>

	
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
    <h:outputScript library="own" name="js/scripts.js" />

</ui:composition>