<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">


	<h:head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

		<meta name="description" content="eXiquets"/>
    	<meta name="author" content="Fernando Rueda Oliva"/>
    	<link rel="shortcut icon" href="../../assets/ico/favicon.ico" />
		<title>#{msg['title']}</title>
		
		<h:outputStylesheet library="own" name="css/estilos.css" />

	</h:head>

</ui:composition>