<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
			<div class="centralContent">
				<h1>#{msg['home.pageTitle']} - 1.3.2</h1>
				<p>#{msg['home.pageSubtitle']}</p>
				<h:form>
				<p:remoteCommand name="rc" action="#{imagesBean.goToDetalleProducto}" />
				<p:contentFlow value="#{imagesBean.listaProductos}" var="producto">
					<p:graphicImage value="#{imagesBean.getImagen(producto.idProductos)}"  styleClass="content"/>
				    <div class="caption">#{producto.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}</div>
				</p:contentFlow>
				</h:form>
			</div>
			
			<ui:include src="/views/footer.xhtml"/>

		</p:layoutUnit>
	</p:layout>
</h:body>
</html>