<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
			<h:panelGrid styleClass="centered">
			
			<f:view>
				<ui:param name="originalURL" value="#{request.requestURI}?#{request.queryString}" />
				<f:metadata>
					<f:event rendered="#{empty socialAuthBean.profile}" type="preRenderView" listener="#{socialAuthBean.setOriginalURL(originalURL)}" />
				</f:metadata>
			</f:view>
			
				<h3>#{msg['login.pageTitle']}</h3>
				<h:form  id="loginFormId" prependId="false">
				<h:inputHidden id="timeZoneOffset" value="#{userBean.timeZoneOffset}"/>
					<h:panelGrid columns="2">
		                <p:outputLabel id="outLblUserMail" for="mail" name="outLblMail" value="#{msg['login.formulario.mail']}"/>
		                <p:inputText id="mail" required="true" value="#{userBean.mail}" requiredMessage="#{msg['login.formulario.requireMailMessage']}"/>
		
		                <p:outputLabel for="password" name="outLblPasswordNm" value="#{msg['login.formulario.pass']}"/>
		                <p:password id="password" required="true" value="#{userBean.password}" requiredMessage="#{msg['login.formulario.requirePassMessage']}"/>
		
		                <p:commandButton ajax="false" onclick="encriptaValor('password')" value="#{msg['login.formulario.botonEnviar']}" action="#{userBean.login}"/>
		                <p:commandButton ajax="false" value="#{msg['login.formulario.recuperarPassword']}" action="#{userBean.recuperarPassword}" />
			        </h:panelGrid>
		        </h:form>
		        <br/>
		        <h3>#{msg['login.socialLogin']}</h3>
		        <h:form>
		        	<h:inputHidden id="timeZoneOffset" value="#{userBean.timeZoneOffset}"/>
					<h:panelGroup rendered="#{empty socialAuthBean.profile}"
						id="socialButtons">
						<h:commandLink id="facebook" action="#{socialAuthBean.socialConnect}">
							<f:setPropertyActionListener target="#{socialAuthBean.providerID}"
								value="facebook" />
							<h:graphicImage value="http://i.stack.imgur.com/LKMP7.png" />
						</h:commandLink>
					</h:panelGroup>
					<h:panelGrid columns="3" rendered="#{not empty socialAuthBean.profile}">
						<h:graphicImage
							rendered="#{not empty socialAuthBean.profile.profileImageURL}"
							value="#{socialAuthBean.profile.profileImageURL}" />
						<h:outputText value="Hello, #{socialAuthBean.profile.fullName}" />
					</h:panelGrid>
				</h:form>
		    </h:panelGrid>
		    <h:panelGrid styleClass="centered">
		    </h:panelGrid>
			</div>		
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>