<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
	
	<h:form>
		<p:menubar>
			<p:menuitem value="#{msg['navbar.link.home']}" url="/views/home.xhtml" />
			<p:submenu label="#{msg['navbar.link.productos']}">
				<p:menuitem value="#{msg['navbar.link.addProductos']}" url="/views/addProductos.xhtml" />
				<p:menuitem value="#{msg['navbar.link.modificaProductos']}" url="/views/admin/productos.xhtml" rendered="#{request.isUserInRole('ROLE_ADMIN')}"/>
		        <p:menuitem value="#{msg['navbar.link.modificaCategorias']}" url="/views/admin/categorias.xhtml" rendered="#{request.isUserInRole('ROLE_ADMIN')}" />
	        </p:submenu>
	       <p:submenu label="#{msg['navbar.link.usuarios']}" rendered="#{request.isUserInRole('ROLE_ADMIN')}">
				<p:menuitem value="#{msg['navbar.link.modificaUsuarios']}" url="/views/admin/usuarios.xhtml"/>
				<p:menuitem
					ajax="false" 
					value="#{msg['navbar.link.pedidosUsuarios']}" 
					action="#{pedidosBean.goToPedidosUsuarios}"
					actionListener="#{pedidosBean.setUsuarioPedido(null)}"/>
			</p:submenu>
			<f:facet name="options">
				<ui:include src="/views/rightpanel.xhtml" />
			</f:facet>
		</p:menubar>
	</h:form>

</ui:composition>