<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
<h3>#{msg['addProductos.pageTitle']}</h3>
		
		<h:form>
		    <h:panelGrid columns="4" cellpadding="5">
		        <h:outputLabel for="name" value="Name:" style="font-weight:bold" />
		        <p:inputText id="name" value="#{pruebasBean.text}" />
		        <p:commandButton value="Submit" update="display" icon="ui-icon-check" />
		        <h:outputText id="display" value="#{pruebasBean.text}" />
		    </h:panelGrid>
		</h:form>
		
		<h:form>
		    <h:panelGrid columns="3">
		        <h:outputText value="Keyup: " />
		        <p:inputText id="counter" value="#{pruebasBean.text}">
		            <p:ajax event="keyup" update="out" listener="#{pruebasBean.handleKeyEvent}" />
		        </p:inputText>
		        <h:outputText id="out" value="#{pruebasBean.text}" />
		    </h:panelGrid>
		</h:form>
		
		<h:form>
		    <h:panelGrid id="grid" cellpadding="5" columns="2" style="margin-bottom:10px">
		        <f:facet name="header">
		            <p:messages id="msgs" />
		        </f:facet>
		 
		        <p:outputLabel for="firstname" value="Firstname:" />
		        <p:inputText id="firstname" value="#{pruebasBean.firstname}" />
		 
		        <p:outputLabel for="surname" value="Surname:" />
		        <p:inputText id="surname" value="#{pruebasBean.lastname}" required="true" requiredMessage="Surname is required." />
		    </h:panelGrid>
		 
		    <h:panelGrid columns="6" cellpadding="5">
		        <p:commandButton value="All" id="btnAll" process="@all" update="grid" actionListener="#{pruebasBean.save}" />
		        <p:commandButton value="Form" id="btnForm" process="@form" update="grid" actionListener="#{pruebasBean.save}" />
		        <p:commandButton value="This" id="btnThis" process="@this" update="grid" actionListener="#{pruebasBean.save}" />
		        <p:commandButton value="None" id="btnNone" process="@none" update="grid" actionListener="#{pruebasBean.save}" />
		        <p:commandButton value="Parent" id="btnParent" process="@parent" update="grid" actionListener="#{pruebasBean.save}" />
		        <p:commandButton value="This Surname" id="btnSurname" process="@this,surname" update="grid" actionListener="#{pruebasBean.save}" />
		    </h:panelGrid>
		</h:form>

		
		</div>			
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>