<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
	    	<h3>#{msg['registrarUsuario.pageTitle']}</h3>
	    	<h:form>
	 			<h:panelGrid columns="3" style="margin:auto">
	 
					#{msg['registrarUsuario.formularioRegistro.nombre']} : 
					<p:inputText id="nombre" value="#{userBean.nombre}" size="20" required="true" label="#{msg['registrarUsuario.formularioRegistro.nombre']}" />
					<h:message for="nombre" style="color:red" />
	 
					#{msg['registrarUsuario.formularioRegistro.mail']} : 
					<p:inputText id="mail" value="#{userBean.mail}" cols="30" rows="10" required="true" label="#{msg['registrarUsuario.formularioRegistro.mail']}" />
					<h:message for="mail" style="color:red" />
					
					#{msg['registrarUsuario.formularioRegistro.password']} :
					<p:password id="password" value="#{userBean.password}" cols="30" rows="10" required="true" label="#{msg['registrarUsuario.formularioRegistro.password']}"/>
					<h:message for="password" style="color:red" />
	 
				</h:panelGrid>
	 			<h:panelGrid style="margin:10px auto;">
					<p:commandButton ajax="false" onclick="encriptaValor('password')" value="#{msg['registrarUsuario.formularioRegistro.botonEnviar']}" action="#{userBean.registraUsuario()}" />
	 			</h:panelGrid>
	 		</h:form>
</div>
					<ui:include src="/views/footer.xhtml" />


		</p:layoutUnit>
	</p:layout>
	

</h:body>
</html>