<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">

	
	
		<p:panelGrid columns="4" styleClass="sinBorde">
			<ui:include src="/views/selectLanguage.xhtml" />
			<p:commandButton id="micuenta" value="#{msg['rightPanel.micuenta']}" type="button" icon="ui-icon-extlink" />
		    <p:tieredMenu overlay="true" trigger="micuenta" my="left top" at="left bottom" style="width:200px">
		    	<p:menuitem 
		    		value="#{msg['rightPanel.link.modificaUsuario']}" 
		    		url="/views/privado/modificarUsuario.xhtml" 
		    		rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}"/>
		    	<p:menuitem 
		    		value="#{msg['rightPanel.link.detalleCarrito']}" 
		    		url="/views/privado/detalleCarroCompra.xhtml" 
		    		rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}"/>
		    	<p:menuitem
		    		ajax="false" 
		    		value="#{msg['rightPanel.link.pedidosUsuario']}" 
		    		action="#{pedidosBean.goToPedidosCliente}"
		    		rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}" 
		    		actionListener="#{pedidosBean.setUsuarioPedido(userBean.usuarioRegistrado)}"/>
		    	<p:menuitem 
		    		value="#{msg['rightPanel.link.login']}" 
		    		url="/views/login.xhtml" 
		    		rendered="#{!(request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN'))}"/>
				<p:menuitem 
					value="#{msg['rightPanel.link.registraUsuario']}" 
					url="/views/registrarUsuario.xhtml" 
					rendered="#{!(request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN'))}"/>
				<p:menuitem
		    		ajax="false" 
		    		value="#{msg['rightPanel.link.listaDirecciones']}" 
		    		action="#{direccionesBean.goToListaDirecciones}"
		    		rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}"/>
				<p:menuitem 
					value="#{msg['rightPanel.link.logout']}" 
					url="#{request.contextPath}/j_spring_security_logout" 
					rendered="#{request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')}"/>
		    </p:tieredMenu>
		</p:panelGrid>
	
	
</ui:composition>