<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">


	
		<p:outputLabel for="language" value="#{msg['idioma']} :" /> 
		<p:selectOneMenu 
			id="language" 
			value="#{languageBean.idiomaSeleccionado}" 
			converter="#{idiomaConverter}">
			<p:ajax update="@all" oncomplete="window.location.replace(window.location.href);" listener="#{languageBean.changeLocale()}"/>
   			<f:selectItems value="#{languageBean.idiomas}" var="i" itemValue="#{i}" itemLabel="#{i.idioma}" /> 
   		</p:selectOneMenu>
	
</ui:composition>