<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
			<div class="centralContent">
				<h3>#{msg['detalleCarroCompra.pageTitle']}</h3>
				
				<h:form id="addProductForm">
					<p:dataGrid 
						id="carritoCompra" 
						value="#{carroCompraBean.listaProductosUsuario}" 
						var="userHasProducto"
						emptyMessage="#{msg['detalleCarroCompra.emptyMessage']}">
						<p:panel header="#{userHasProducto.producto.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" style="text-align:center">
							<h:panelGrid columns="2">
								<p:graphicImage value="#{imagesBean.getImagen(userHasProducto.producto.idProductos)}" width="80px" cache="false"/>
			     				<h:panelGrid columns="2">
			     					<h:outputLabel for="cantidad" value="#{msg['addProductos.tabla.columnaCantidad']}"/>
			     					<h:outputText id="cantidad" value="#{userHasProducto.cantidad}"/>
			     					
			     					<h:outputLabel for="precio" value="#{msg['addProductos.tabla.columnaPrecio']}"/>
			     					<h:outputText id="precio" value="#{userHasProducto.producto.precio}" >
			     						<f:convertNumber locale="#{languageBean.idiomaSeleccionado.localeCode}" type="currency" />
			     					</h:outputText>
			     					
			     					<h:outputLabel for="categoria" value="#{msg['addProductos.tabla.columnaNombreCategoria']}"/>
			     					<h:outputText id="categoria" value="#{userHasProducto.producto.categoriaBean.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
			     					
			     					<h:outputLabel for="descripcion" value="#{msg['addProductos.tabla.columnaDescripcion']}"/>
			     					<h:outputText id="descripcion" value="#{userHasProducto.producto.getLiteralDescripcion(languageBean.idiomaSeleccionado.idiomaCode)}"/>
			     					
			     					<p:commandButton process="@this" update=":addProductForm:carritoCompra :addProductForm:realizarPedido" action="#{carroCompraBean.eliminaProducto(userHasProducto)}" value="#{msg['addProductos.tabla.enlaceEliminar']}" />
			     				</h:panelGrid>
		     				</h:panelGrid>
						</p:panel>
					</p:dataGrid>
		
					<br/>	
					
					<p:panel id="facturaPanel" header="#{msg['detalleCarroCompra.factura.titulo']}">
						<h:panelGrid id="facturaGrid" columns="2">
							<p:outputLabel for="total" value="#{msg['detalleCarroCompra.factura.total']}"/>
							<h:outputText id="total" value="#{carroCompraBean.getTotalFactura()}">
								<f:convertNumber locale="#{languageBean.idiomaSeleccionado.localeCode}" type="currency" />
							</h:outputText>
						</h:panelGrid>
					</p:panel>
					
					
					<br/>
					<h:panelGrid id="realizarPedido" class="botonCentrado">
						<p:commandButton 
							actionListener="#{carroCompraBean.setDefaultAddress()}"
							value="#{msg['addProductos.boton.realizarPedido']}"
							oncomplete="PF('seleccionarDireccionDialog').show();"
							rendered="#{(request.isUserInRole('ROLE_USER') or request.isUserInRole('ROLE_ADMIN')) and !carroCompraBean.listaProductosUsuario.isEmpty()}" />
					</h:panelGrid>
					<br/>
					<br/>
		
					<p:dialog header="#{msg['addProductos.dialog.seleccionarDireccion.header']}" widgetVar="seleccionarDireccionDialog" width="70%" height="200px">
						<p:dataTable 
							id="tablaDirecciones"
							value="#{direccionesBean.listaDirecciones}" 
							var="direccion"
							selection="#{carroCompraBean.direccionPedidoSeleccionada}" 
							rowKey="#{direccion.idDireccion}">
							<p:ajax event="rowSelectRadio" update="@this"/>
							<p:column headerText="#{msg['addProductos.dialog.tabla.columnaDireccion']}">
								<h:outputText value="#{direccion}"/>
							</p:column>
			    			<p:column headerText="#{msg['addProductos.dialog.tabla.columnaTelefono']}">
								<p:inputText value="#{direccion.telefono}"/>
			    			</p:column>
			    			<p:column 
			    				headerText="#{msg['addProductos.dialog.tabla.columnaDefecto']}" 
			    				selectionMode="single"/>
						</p:dataTable>
						<p:commandButton 
							ajax="false" 
							action="#{carroCompraBean.realizarPedido}" 
							value="#{msg['addProductos.boton.confirmarPedido']}"
							rendered="#{!direccionesBean.listaDirecciones.isEmpty()}" />
						<h:outputText value="#{msg['addProductos.dialog.direccionRequerida']}" rendered="#{direccionesBean.listaDirecciones.isEmpty()}"/>
					</p:dialog>
					
				</h:form>
		

				
			</div>
			<ui:include src="/views/footer.xhtml"/>
		</p:layoutUnit>
	</p:layout>

</h:body>
</html>