<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
<h3>#{msg['detallePedido.pageTitle']}</h3>

		
		<h:form>
			<p:dataTable 
				value="#{pedidosBean.listaProductos}" 
				var="pedidoHasProducto"
				selection="#{pedidosBean.productoSeleccionado}"
 				selectionMode="single"
 				rowKey="#{pedidoHasProducto.id.pedido_idPedido}#{pedidoHasProducto.id.productos_idProductos}">
				<p:ajax event="rowSelect" listener="#{pedidosBean.goToDetalleProducto}" />
				<p:column headerText="#{msg['detallePedido.tabla.columnaNombre']}">
					<h:outputText value="#{pedidoHasProducto.producto.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}"/>
				</p:column>
				<p:column headerText="#{msg['detallePedido.tabla.columnaCantidad']}">
					<h:outputText value="#{pedidoHasProducto.cantidad}"/>
				</p:column>
	    		<p:column headerText="#{msg['detallePedido.tabla.columnaPrecio']}">
					<h:outputText id="precio" value="#{pedidoHasProducto.producto.precio}" />
	    		</p:column>
	    		<p:column headerText="#{msg['detallePedido.tabla.columnaImagen']}">
					<p:graphicImage value="#{imagesBean.getImagen(pedidoHasProducto.producto.idProductos)}" width="80px" cache="false"/>
	    		</p:column>
	    		<p:column headerText="#{msg['detallePedido.tabla.columnaCategoria']}">
					<h:outputText id="categoria" value="#{pedidoHasProducto.producto.categoriaBean.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
	    		</p:column>
	    		<p:column headerText="#{msg['detallePedido.tabla.columnaDescripcion']}">
					<h:outputText id="descripcion" value="#{pedidoHasProducto.producto.getLiteralDescripcion(languageBean.idiomaSeleccionado.idiomaCode)}"/>
	    		</p:column>
			</p:dataTable>
		</h:form>
	</div>		
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>