<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
<h3>#{msg['direccionesCliente.pageTitle']}</h3>

		
		<h:form id="formularioDirecciones">
			<p:selectOneRadio id="customRadio" value="#{direccionesBean.direccionDefecto}" converter="#{direccionConverter}" layout="custom">
				<p:ajax upadte=":formularioDirecciones:direccionesCliente"/>
				<f:selectItems value="#{direccionesBean.listaDirecciones}" var="d" itemValue="#{d}"/>
			</p:selectOneRadio>
			<p:dataGrid 
				id="direccionesCliente" 
				value="#{direccionesBean.listaDirecciones}" 
				var="direccion"
				rowIndexVar="index">
			    
				<p:panel header="#{direccion.idDireccion}">
					<h:panelGrid columns="2">
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaTipoDireccion']}" for="tipoDireccion"/>
						<p:selectOneMenu id="tipoDireccion" value="#{direccion.tipodireccion.idTipoDireccion}">
							<f:selectItems 
								value="#{direccionesBean.listaTiposDireccion}" 
								var="td" itemValue="#{td.idTipoDireccion}" 
								itemLabel="#{direccionesBean.getTipoDireccionString(td.idTipoDireccion)}"/>
						</p:selectOneMenu>
					
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaNombre']}" for="nombreDireccion"/>
						<p:inputText id="nombreDireccion" value="#{direccion.nombreDireccion}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaNumero']}" for="numeroDireccion"/>
						<p:inputText id="numeroDireccion" value="#{direccion.numero}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaPortal']}" for="portalDireccion"/>
						<p:inputText id="portalDireccion" value="#{direccion.portal}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaPiso']}" for="pisoDireccion"/>
						<p:inputText id="pisoDireccion" value="#{direccion.piso}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaPuerta']}" for="puertaDireccion"/>
						<p:inputText id="puertaDireccion" value="#{direccion.puerta}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaZip']}" for="zipDireccion"/>
						<p:inputText id="zipDireccion" value="#{direccion.zip}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaCiudad']}" for="ciudadDireccion"/>
						<p:inputText id="ciudadDireccion" value="#{direccion.ciudad}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaProvincia']}" for="provincaDireccion"/>
						<p:inputText id="provincaDireccion" value="#{direccion.provincia}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaPais']}" for="paisDireccion"/>
						<p:inputText id="paisDireccion" value="#{direccion.pais}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaTelefono']}" for="telefonoDireccion"/>
						<p:inputText id="telefonoDireccion" value="#{direccion.telefono}"/>
						
						<p:outputLabel value="#{msg['direccionesCliente.tabla.columnaDefecto']}" for="direccionDefecto"/>
						<p:radioButton id="direccionDefecto" for=":formularioDirecciones:customRadio" itemIndex="#{index}" />
						
					</h:panelGrid>
					<p:commandButton  process="@this" update=":formularioDirecciones" action="#{direccionesBean.eliminarDireccion(direccion)}" value="#{msg['direccionesCliente.tabla.botonEliminar']}" />
				</p:panel>
			</p:dataGrid>
			
			
			<p:commandButton process="@form" update=":formularioDirecciones" value="#{msg['direccionesCliente.botonSave']}" action="#{direccionesBean.guardaDirecciones()}" />
    		<p:commandButton process="@this" update=":formularioDirecciones" value="#{msg['direccionesCliente.botonAdd']}" action="#{direccionesBean.addDireccion()}" />
		</h:form>
	</div>		
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>