<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
#{msg['modificarUsuario.pageTitle']}
    	<h:form role="form" class="form-horizontal">
 
 			<h:panelGrid columns="2" styleClass="centered">
 
				<p:outputLabel for="nombre" value="#{msg['modificarUsuario.formulario.nombre']}:"/>
				<p:inputText id="nombre" value="#{userBean.nombre}" required="true"/>
 
				<p:outputLabel for="mail" value="#{msg['modificarUsuario.formulario.mail']} :" />
				<p:inputText id="mail" value="#{userBean.mail}" required="true" />
				
				<p:outputLabel for="password" value="#{msg['modificarUsuario.formulario.password']} :" />
				<p:password id="password" value="#{userBean.password}" required="true" requiredMessage="#{msg['login.formulario.requirePassMessage']}"/>
 
			</h:panelGrid>
 			<br/>
			<h:commandButton onclick="encriptaValor('password')" value="#{msg['modificarUsuario.formulario.botonEnviar']}" action="#{userBean.actualizaUsuario()}" class="btn btn-default" />
 		</h:form>
			</div>		
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>