<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">

					<h3>#{msg['pedidosCliente.pagetitle']}</h3>
					<h:form>
						<p:dataTable 
							id="tablaPedidos"
			 				paginator="true" 
			 				rows="5" 
			 				lazy ="true" 
			 				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
			 				rowsPerPageTemplate="5,10,20"
							value="#{pedidosBean.listaPedidos}" 
							var="p"
							selection="#{pedidosBean.pedidoSeleccionado}"
							selectionMode="single" 
							rowKey="#{p.idPedido}">
							<p:ajax event="rowSelect"
								listener="#{pedidosBean.goToDetallePedido}" />
							<p:column headerText="#{msg['pedidosCliente.tabla.columnaId']}">
								<h:outputText value="#{p.idPedido}" />
							</p:column>
							<p:column
								headerText="#{msg['pedidosCliente.tabla.columnaFechaPedido']}">
								<f:facet name="header">DateRange
								    <div>
								    <p:outputLabel for="from" value="#{msg['pedidosCliente.tala.filtro.fecha.from']}" />
								      <p:calendar id="from" value="#{pedidosBean.from}" styleClass="calendarFilter">
								        <p:ajax event="dateSelect" action="PF('tablaPedidos').filter()" update="tablaPedidos"/>
								      </p:calendar>
								      <br/>
								      <p:outputLabel for="to" value="#{msg['pedidosCliente.tala.filtro.fecha.to']}" />
								      <p:calendar id="to" value="#{pedidosBean.to}" styleClass="calendarFilter">
								        <p:ajax event="dateSelect" action="PF('tablaPedidos').filter()" update="tablaPedidos"/>
								      </p:calendar>
								    </div>
							  	</f:facet>
								<h:outputText value="#{p.fechaPedido}" converter="#{datesConverter}"/>
							</p:column>
				    		<p:column filterBy="estadoPedido" headerText="#{msg['pedidosUsuarios.tabla.columnaEstadoPedido']}">
				    			<f:facet name="filter">
					                <p:selectOneMenu onchange="PF('tablaPedidos').filter()">
					                    <f:selectItem itemLabel="#{msg['estadoPedido.0']}" itemValue="#{null}" noSelectionOption="true" />
					                    <f:selectItems value="#{estadosPedidoBean.listaEstadosPedido}" var="ep" itemValue="#{ep.idEstadoPedido}" itemLabel="#{estadosPedidoBean.getEstadoPedidoString(ep.idEstadoPedido)}"/>
					                </p:selectOneMenu>
					            </f:facet>
								<h:outputText value="#{estadosPedidoBean.getEstadoPedidoString(p.estadoPedido.idEstadoPedido)}" />
				    		</p:column>
							<p:column headerText="#{msg['pedidosUsuarios.tabla.columnaDireccion']}">
								<h:outputText value="#{p.direccion}"/>
							</p:column>
						</p:dataTable>
					</h:form>
</div>
					<ui:include src="/views/footer.xhtml" />

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>