.ui-layout-north {
	z-index: 20 !important;
	overflow: visible !important;;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.centered {
	margin:auto;
}

input.ui-spinner-input[type=text]{
	max-width:90px;
}

.sinBorde.ui-panelgrid .ui-panelgrid-cell,.sinBorde .ui-widget-content{
	border:none;
}

.centralContent{
	min-height: 80%;
}

legend{
	text-align:left;
}


.gridAddProductos{
	width: 80%;
	margin: auto;
}
.gridAddProductos img{
	width:300px
}

table.botonCentrado{
	margin:auto;
}

.ui-contentflow .globalCaption .caption{
	color:black;
}