<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
		<div class="centralContent">
<h3>#{msg['addRoles.pageTitle']}</h3>
	    	<h:form id="rolesForm">
	    	 	<p:dataTable 
	    	 		id="tablaRolesUsuario"
	    	 		value="#{usuariosRegistradosBean.rolesUsuario}" 
	    	 		var="role" >
		    		<p:column headerText="#{msg['usuarios.tabla.columnaNombre']}">
						<h:outputText value="#{role.authority}" />
		    		</p:column>
		    		<p:column headerText="#{msg['usuarios.tabla.columnaEliminar']}">
						<p:commandButton 
							process="@this" 
							update="@(#tablaRolesUsuario)" 
							action="#{usuariosRegistradosBean.deleteRole(role)}" 
							value="#{msg['usuarios.tabla.enlaceDeleteRole']}"
							rendered="#{role.authority!='ROLE_ADMIN'}"/>
		    		</p:column>
	    		</p:dataTable>

	 			<br/>

	    	 	<p:dataTable
	    	 		id="tablaRoles" 
	    	 		value="#{usuariosRegistradosBean.listaRoles}" 
	    	 		var="role" >
		    		<p:column headerText="#{msg['usuarios.tabla.columnaRol']}">
						<h:outputText id="authority" value="#{role.authority}" />
		    		</p:column>
		    		<p:column headerText="#{msg['usuarios.tabla.columnaEliminar']}">
						<p:commandButton process="@this" update="@(#tablaRoles)" action="#{usuariosRegistradosBean.addRole(role)}" value="#{msg['usuarios.tabla.enlaceAddRole']}"/>
		    		</p:column>
	    		</p:dataTable>
	 		</h:form>
			</div>
			<ui:include src="/views/footer.xhtml"/>

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>