<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
		<div class="centralContent">
#{msg['categorias.pageTitle']}
 		<h:form id="formularioCategorias">
 			<p:dataTable 
 				id="tablaCategorias"
 				value="#{categoriasBean.listaCategorias}" 
 				var="c" 
 				selection="#{categoriasBean.categoriaSeleccionada}" 
 				selectionMode="single" 
 				rowKey="#{c.idCategorias}">
 				<p:ajax event="rowSelect" listener="#{categoriasBean.goToDetalleCategoria}" />
	    		<p:column headerText="#{msg['categorias.tabla.columnaNombre']}">
					<h:outputText id="nombre" value="#{c.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
	    		</p:column>
	    		<p:column headerText="#{msg['categorias.tabla.columnaEliminar']}">
					<p:commandLink process="@this" update=":formularioCategorias:tablaCategorias" action="#{categoriasBean.eliminarCategoria(c)}" value="#{msg['categorias.tabla.enlaceEliminar']}" />
	    		</p:column>
    		</p:dataTable>
    		<br/>
    		<p:commandButton process="@this" update="formularioCategorias:tablaCategorias" value="#{msg['categorias.tabla.botonAdd']}" action="#{categoriasBean.crearCategoria()}" />
 		</h:form>
			</div>
			<ui:include src="/views/footer.xhtml"/>

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>