<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
			<div class="centralContent">
			<h3>#{msg['detalleCategoria.pageTitle']}</h3>
			<h3>#{categoriaBean.categoria.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}</h3>
			<br />
			<h:form id="formularioDetalleCategorias">
				<p:dataTable 
					id="tablaNombresCategoria"
					value="#{categoriasBean.listaNombresCategoria}" 
					var="nc">
					<p:column
						headerText="#{msg['detalleCategoria.tabla.columnaNombre']}">
						<h:inputText id="literal" value="#{nc.literalCategoria}" />
					</p:column>
					<p:column
						headerText="#{msg['detalleCategoria.tabla.columnaIdioma']}">
						<p:selectOneMenu value="#{nc.idioma}"
							converter="#{idiomaConverter}">
							<f:selectItems value="#{languageBean.idiomas}" var="i"
								itemValue="#{i}" itemLabel="#{i.idioma}" />
						</p:selectOneMenu>
					</p:column>
					<p:column
						headerText="#{msg['detalleCategoria.tabla.columnaEliminar']}">
						<p:commandLink ajax="false"
							action="#{categoriaBean.eliminarNombre(nc)}"
							value="#{msg['detalleCategoria.tabla.enlaceEliminar']}" />
					</p:column>
				</p:dataTable>
				<p:commandButton 
					process="@form" 
					update="formularioDetalleCategorias:tablaNombresCategoria"
					value="#{msg['detalleCategoria.tabla.botonSave']}"
					action="#{categoriasBean.guardaCategoria()}" />
			</h:form>
</div>
			<ui:include src="/views/footer.xhtml" />

		</p:layoutUnit>
	</p:layout>
</h:body>
</html>