<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
					<h2>#{msg['detalleProducto.pageTitle']}</h2>

					<h3>#{productosBean.productoSeleccionado.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}</h3>

					<p:panelGrid columns="1" styleClass="centered">
						<p:graphicImage value="#{imagesBean.getImagen(productosBean.productoSeleccionado.idProductos)}" cache="false"/>
						<h:form enctype="multipart/form-data">
							<p:fileUpload 
								value="#{productosBean.uploadedFile}" 
								mode="simple"
								skinSimple="true"
								allowTypes="/(\.|\/)(gif|jpe?g|png)$/"
								sizeLimit="20480"
								invalidSizeMessage="invalid!" />
							<p:commandButton ajax="false"
								value="#{msg['addImage.botonEnviar']}"
								actionListener="#{productosBean.submitImage}" />
						</h:form>
					</p:panelGrid>

					<br />
					<h:form>
						<p:dataTable value="#{productosBean.nombresProducto}" var="n">
							<p:column
								headerText="#{msg['detalleProducto.tabla.columnaNombre']}">
								<h:inputText id="literal" value="#{n.literal}" />
							</p:column>
							<p:column
								headerText="#{msg['detalleProducto.tabla.columnaIdioma']}">
								<p:selectOneMenu value="#{n.idioma}"
									converter="#{idiomaConverter}">
									<f:selectItems value="#{languageBean.idiomas}" var="i"
										itemValue="#{i}" itemLabel="#{i.idioma}" />
								</p:selectOneMenu>
							</p:column>
						</p:dataTable>


						<br />
						<h3>Descripciones</h3>


						<p:dataTable value="#{productosBean.descripcionesProducto}" var="d">
							<p:column
								headerText="#{msg['detalleProducto.tabla.columnaNombre']}">
								<p:inputTextarea value="#{d.literal}" rows="6" cols="20" />
							</p:column>
							<p:column
								headerText="#{msg['detalleProducto.tabla.columnaIdioma']}">
								<p:selectOneMenu value="#{d.idioma}"
									converter="#{idiomaConverter}">
									<f:selectItems value="#{languageBean.idiomas}" var="i"
										itemValue="#{i}" itemLabel="#{i.idioma}" />
								</p:selectOneMenu>
							</p:column>
						</p:dataTable>
						<br />
						<p:commandButton ajax="false"
							value="#{msg['detalleProducto.tabla.botonSave']}"
							action="#{productosBean.guardaProducto()}" />
					</h:form>

</div>
					<ui:include src="/views/footer.xhtml" />


		</p:layoutUnit>
	</p:layout>

</h:body>
</html>