<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
	<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
					<h3>#{msg['idiomas.pageTitle']}</h3>
					<h:form>
						<p:dataTable 
							id="tablaIdiomas"
							value="#{languageBean.idiomas}" 
							var="i">
							<p:column headerText="#{msg['idiomas.tabla.columnaNombre']}">
								<p:inputText id="idioma" value="#{i.idioma}" />
							</p:column>
							<p:column headerText="#{msg['idiomas.tabla.columnaLocale']}">
								<p:inputText id="locale" value="#{i.locale}" />
							</p:column>
							<p:column headerText="#{msg['idiomas.tabla.columnaEliminar']}">
								<p:commandLink 
									process="@all"
									update="tablaIdiomas"
									action="#{languageBean.eliminarIdioma(i)}"
									value="#{msg['idiomas.tabla.enlaceEliminar']}" />
							</p:column>
						</p:dataTable>
						<br/><br/>
						<p:commandButton 
							process="@all"
							update="tablaIdiomas"
							value="#{msg['idiomas.tabla.botonSave']}"
							action="#{languageBean.guardaIdiomas()}" />
						<p:commandButton 
							process="@all"
							update="tablaIdiomas"
							value="#{msg['idiomas.tabla.botonAdd']}"
							action="#{languageBean.addIdioma()}" />
					</h:form>
</div>
					<ui:include src="/views/footer.xhtml" />


		</p:layoutUnit>
	</p:layout>

</h:body>
</html>