<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
<h3>#{msg['productos.pagetitle']}</h3>
 		<h:form id="formularioProductos">
 			<p:dataTable
 				id="idTablaProductos"
 			 	value="#{productosBean.listaProductos}" 
 				var="p" 
 				paginator="true" 
 				rows="5" 
 				lazy ="true" 
 				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
 				rowsPerPageTemplate="5,10,20"
 				widgetVar="tablaProductos"
 				selection="#{productosBean.productoSeleccionado}" 
 				selectionMode="single" 
 				rowKey="#{p.idProductos}">
 				<p:ajax event="rowSelect" listener="#{productosBean.goToDetalleProducto}" />
 				<p:column sortBy="nombre" filterBy="nombre" headerText="#{msg['productos.tabla.columnaNombre']}">
					<h:outputText value="#{p.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
	    		</p:column>
	    		<p:column sortBy="precio" filterBy="precio" headerText="#{msg['productos.tabla.columnaPrecio']}">
					<h:inputText value="#{p.precio}" />
	    		</p:column>
	    		<p:column sortBy="stock" filterBy="stock"  headerText="#{msg['productos.tabla.columnaStock']}">
					<h:inputText value="#{p.stock}" />
	    		</p:column>
	    		<p:column filterBy="categoria" headerText="#{msg['productos.tabla.columnaCategoria']}">
		    		<f:facet name="filter">
		                <p:selectOneMenu onchange="PF('tablaProductos').filter()" >
		                    <f:selectItem itemLabel="Select One" itemValue="#{null}" noSelectionOption="true" />
		                    <f:selectItems value="#{categoriasBean.listaCategorias}" var="c" itemValue="#{c.idCategorias}" itemLabel="#{c.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
		                </p:selectOneMenu>
		            </f:facet>
					<p:selectOneMenu value="#{p.categoriaBean.idCategorias}">
						<f:selectItems value="#{categoriasBean.listaCategorias}" var="c" itemValue="#{c.idCategorias}" itemLabel="#{c.getLiteralNombre(languageBean.idiomaSeleccionado.idiomaCode)}" />
					</p:selectOneMenu>
	    		</p:column>
	    		<p:column headerText="#{msg['productos.tabla.columnaEliminar']}">
					<p:commandLink  process="@this" update=":formularioProductos:idTablaProductos" action="#{productosBean.eliminaProducto(p)}" value="#{msg['productos.tabla.enlaceEliminar']}" />
	    		</p:column>
    		</p:dataTable>
    		<br/>
    		<p:commandButton process="@form" update="formularioProductos:idTablaProductos" value="#{msg['productos.tabla.botonSave']}" action="#{productosBean.guardaProductos()}" />
    		<p:commandButton process="@this" update="formularioProductos:idTablaProductos" value="#{msg['productos.tabla.botonAdd']}" action="#{productosBean.addProducto()}" />
 		</h:form>
		</div>			
					<ui:include src="/views/footer.xhtml"/>

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>