<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:include src="/views/header.xhtml" />


<h:body>
<p:layout fullPage="true">
		<p:layoutUnit position="north" minSize="60">
			<ui:include src="/views/navbar.xhtml">
				<ui:param name="tabSelected" value="home" />
			</ui:include>
		</p:layoutUnit>
		<p:layoutUnit position="center" style="text-align:center">
<div class="centralContent">
<h3>#{msg['usuarios.pageTitle']}</h3>
    <h:form>
    	 	<p:dataTable 
    	 		id="tablaUsuarios"
    	 		value="#{usuariosRegistradosBean.listaUsuarios}" 
    	 		var="u" 
    	 		selection="#{usuariosRegistradosBean.usuarioSeleccionado}" 
 				selectionMode="single" 
 				rowKey="#{u.userId}">
    	 		<p:ajax event="rowSelect" listener="#{usuariosRegistradosBean.goToDetalleUsuario}" />
	    		<p:column headerText="#{msg['usuarios.tabla.columnaNombre']}">
					<p:inputText id="nombre" value="#{u.nombre}" />
	    		</p:column>
	    		<p:column headerText="#{msg['usuarios.tabla.columnaPass']}">
					<p:inputText id="descripcion" value="#{u.password}" />
	    		</p:column>
	    		<p:column headerText="#{msg['usuarios.tabla.columnaMail']}">
					<p:inputText id="mail" value="#{u.mail}" />
	    		</p:column>
	    		<p:column headerText="#{msg['usuarios.tabla.columnaEliminar']}">
					<p:commandLink update="tablaUsuarios" action="#{usuariosRegistradosBean.eliminaUsuario(u)}" value="#{msg['usuarios.tabla.enlaceEliminar']}" />
	    		</p:column>
    		</p:dataTable>
			<p:commandButton value="#{msg['usuarios.tabla.botonSave']}" action="#{usuariosRegistradosBean.guardaUsuarios()}" />
 		</h:form>
 		<h:form>
		    <p:commandButton value="Download" ajax="false" onclick="PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
		        <p:fileDownload value="#{fileDownloadView.file}" />
		    </p:commandButton>
		</h:form>
			</div>		
					<ui:include src="/views/footer.xhtml"/>
					

		</p:layoutUnit>
	</p:layout>

</h:body>
</html>